<p>Hello, I am Nedas, a part time experimenter, a part time problem solver and a full time FullStack Developer</p>
<p>I am an extremely passionated in building good products that would improve the lives of other people.</p>
<p>This allows me to experiment with different kinds of solutions, to a problem, in order to find the best possible option.</p>
<p>This solution might require different languages, different methodologies and different view points.</p>
<p>This is where I specialise.</p>

<app-skill-set></app-skill-set>
<app-education></app-education>
