<div class="about-me-contents">
  <p>Hello. I am Nedas. A part time experimenter, a part time problem solver and a full time Software Developer</p>
  <p>I am an extremely passionated in building good products that would improve the lives of other people.</p>
  <p>This allows me to experiment with different kinds of solutions in order to find the best possible answer to any problem.</p>
  <p>A solution might require different languages, different methodologies and different view points.</p>
  <p>However, unfortunately for the problem I am really patient and willing to spend time on solving it.</p>
</div>
