.about-me-container{
  display: flex;
  flex-flow: column;
  font-size: 22px;
  z-index: 9999;
}

.about-me-contents{
  margin: 2rem auto;
  line-height: 1.4;
  overflow: hidden;
  z-index: 0;
  padding: 25px;
  max-width: 500px;
  color: white;
}

.flex-container{
  display: flex;
}

.about-me-sentence{
  margin-bottom: 1rem;
}

#tsparticles{
  z-index: -1;
}

.button-redirects{
  margin: auto;
  display: flex;
}

.white-border{
  color: white;
  border: 2px solid white;
  border-radius: 5px;
  margin: 0 1rem;
}
@media only screen and (max-width: 600px) {
  .button-redirects {
    flex-flow: column;
  }
  .white-border {
    margin: 2rem 0;
  }
}
