<ng-particles [id]="id" [options]="particlesOptions" (particlesLoaded)="particlesLoaded($event)" (particlesInit)="particlesInit($event)">
</ng-particles>
<div class="about-me-container">
  <div class="about-me-contents">
    <div class="about-me-sentence">Hello. I am
      <span style="color: #2963D3;">Nedas</span>
      . A part time experimenter, a part time problem solver and a full time Software Developer.
    </div>
    <div class="about-me-sentence">
      I am extremely passionate in building good products that would improve the lives of other people.
    </div>
    <div class="about-me-sentence">
      I invite you to check out my abilities, my work experience and my portfolio.
    </div>
  </div>
  <div class="button-redirects">
    <button type="button" [routerLink]="['/about']" class="btn white-border">Abilities</button>
    <button type="button" [routerLink]="['/work']" class="btn white-border">Experience</button>
    <button type="button" [routerLink]="['/examples']" class="btn white-border">Examples</button>
  </div>
</div>
