.team-skills{
  display: flex;
  flex-flow: row;
  font-size: 24px;
  margin: 2rem 0;
}
.team-skill-container{
  box-shadow: 0 3px 7px -1px rgb(0 0 0 / 10%);
  margin: 0 6rem 1.6% 6rem;
  background: #fff;
  line-height: 1.4;
  border-radius: 5px;
  overflow: hidden;
  z-index: 0;
  padding: 25px;
}
.team-skill-header{
  text-align: center;
  font-weight: bold;
}

.team-skill-content{
  font-size: 18px;
  text-align: center;
}

.main-skills{
  width: 100%;
  display: flex;
  flex-flow: row;
  justify-content: space-around;
}

.main-skill-container{
  display: flex;
  flex-flow: row;
  align-items: center;

}

.main-skill-content{
  width: 100%;
  margin: 0 25px;
}

.main-skill-header{
  width: 25%;
}

.skills{
  width: 35%;
  display: flex;
  flex-flow: column;
  box-shadow: 0 3px 7px -1px rgb(0 0 0 / 10%);
  margin: 0 6rem 1.6% 6rem;
  background: #fff;
  line-height: 1.4;
  border-radius: 5px;
  overflow: hidden;
  z-index: 0;
  padding: 25px;
}

.tools{
  text-align: center;
  display: flex;
  width: 100%;
  flex-flow: row;
  justify-content: space-around;
  margin-top: 2rem;

}

.tool-header{
  font-weight: bold;
  font-size: 24px;
}

.tool-content{
  font-size: 18px;
}

.tool-container{
  box-shadow: 0 3px 7px -1px rgb(0 0 0 / 10%);
  margin: 0 6rem 1.6% 6rem;
  background: #fff;
  line-height: 1.4;
  border-radius: 5px;
  overflow: hidden;
  z-index: 0;
  padding: 25px;
}
@media only screen and (max-width: 1800px) {
  .team-skill-container{
    margin: 0 2rem 1.6% 2rem;
  }
  .skills{
    width: 45%;
  }
}
@media only screen and (max-width: 1300px) {
  .team-skill-container {
    margin: 0 0.5rem 1.6% 0;
  }
}
@media only screen and (max-width: 768px) {

  .tools{
    flex-flow: column;
  }
  .tool-container{
    margin: 2rem 0;
  }

  .team-skills{
    flex-flow: column;
  }

  .team-skill-container{
    margin: 2rem 0;
  }

  .skills{
    margin: 2rem 0;
    width: 100%;
  }
  .main-skill-content{
    margin: 0;
  }
}

.center{
  text-align: center;
}
