
<div class="team-skills">
  <div class="team-skill-container">
    <div class="team-skill-header">Reliability</div>
    <div class="team-skill-content">I am a highly reliable person that takes deadlines seriously</div>
  </div>
  <div class="team-skill-container">
    <div class="team-skill-header">Communication</div>
    <div class="team-skill-content">I try to explain problems in the easiest way possible</div>
  </div>
  <div class="team-skill-container">
    <div class="team-skill-header">Positivity</div>
    <div class="team-skill-content">I always try to bring a smile in every meeting.</div>
  </div>
  <div class="team-skill-container">
    <div class="team-skill-header">Problem solving</div>
    <div class="team-skill-content">Every problem can be solved with enough time.</div>
  </div>
</div>

<div class="main-skills">

  <div class="skills">
    <div class="team-skill-header skills-header">Confidence in the language</div>
    <div class="main-skill-container">
      <div class="main-skill-header">HTML</div>
      <div class="main-skill-content"><ngb-progressbar [showValue]="true" type="info" [height]="'20px'"  [value]="75"></ngb-progressbar></div>
    </div>
    <div class="main-skill-container">
      <div class="main-skill-header">CSS</div>
      <div class="main-skill-content"><ngb-progressbar [showValue]="true" type="info" [height]="'20px'"  [value]="70"></ngb-progressbar></div>
    </div>
    <div class="main-skill-container">
      <div class="main-skill-header">JS</div>
      <div class="main-skill-content"><ngb-progressbar [showValue]="true" type="info" [height]="'20px'"  [value]="70"></ngb-progressbar></div>
    </div>
    <div class="main-skill-container">
      <div class="main-skill-header">Angular</div>
      <div class="main-skill-content"><ngb-progressbar [showValue]="true" type="info" [height]="'20px'"  [value]="80"></ngb-progressbar></div>
    </div>
    <div class="main-skill-container">
      <div class="main-skill-header">Java</div>
      <div class="main-skill-content"><ngb-progressbar [showValue]="true" type="info" [height]="'20px'"  [value]="80"></ngb-progressbar></div>
    </div>
    <div class="main-skill-container">
      <div class="main-skill-header">C#</div>
      <div class="main-skill-content"><ngb-progressbar [showValue]="true" type="info" [height]="'20px'"  [value]="70"></ngb-progressbar></div>
    </div>
    <div class="main-skill-container">
      <div class="main-skill-header">NodeJS</div>
      <div class="main-skill-content"><ngb-progressbar [showValue]="true" type="info" [height]="'20px'"  [value]="60"></ngb-progressbar></div>
    </div>
    <div class="main-skill-container">
      <div class="main-skill-header">SQL</div>
      <div class="main-skill-content"><ngb-progressbar [showValue]="true" type="info" [height]="'20px'"  [value]="90"></ngb-progressbar></div>
    </div>
    <div class="main-skill-container">
      <div class="main-skill-header">Firebase</div>
      <div class="main-skill-content"><ngb-progressbar [showValue]="true" type="info" [height]="'20px'" [value]="90"></ngb-progressbar></div>
    </div>
  </div>
</div>

<div class="tools">
  <div class="tool-container">
    <div class="tool-header">Tools:</div>
    <div class="tool-content">Kubernetes</div>
    <div class="tool-content">Docker</div>
    <div class="tool-content">Apache</div>
    <div class="tool-content">Android studio</div>
    <div class="tool-content">Webstorm</div>
    <div class="tool-content">Visual studio code</div>
  </div>
  <div class="tool-container">
    <div class="tool-header">Methodologies:</div>
    <div class="tool-content">Scrum</div>
    <div class="tool-content">Extreme programing</div>
    <div class="tool-content">Test Driven development</div>
    <div class="tool-content">Feature Driven development</div>
  </div>
</div>


