
<div>Main skills :
  <div>Java</div>
  <div>C#</div>
  <div>SQL</div>
  <div>Firebase(NOSQL)</div>
  <div>PHP</div>
  <div>NodeJS</div>
  <div>Angular</div>
  <div>HTML</div>
  <div>CSS</div>
  <div>JS</div>
  <div>Python</div>
</div>

<div>Secondary skills :
  <div>Agile Development methodologies (Scrum, XP).</div>
  <div>Docker</div>
  <div>Apache</div>
  <div>Test Driven development</div>
  <div>Android studio</div>
</div>

<div>Team skills :
  <div>Communication</div>
  <div>Multitasking</div>
  <div>Problem solving</div>
</div>
