<div class="wrapper">
  <div class="section-title">
    CONTACT ME
  </div>
  <div class="flex-container">
    <div class="contact-container">
      <div class="contact-content"> I am always looking for new exciting ideas and opportunities. Contact me. </div>
      <div class="contact-item emphasis">Email:
        <a href="mailto:nedassurkus@gmail.com"
        target="new"
        title="instagram"
        class="white grey-hover mr-3">nedassurkus@gmail.com</a>
      </div>
      <div class="contact-content">OR</div>
      <div class="social-media">
        <a class="btn btn-block btn-social btn-linkedin"
           href="https://www.facebook.com/nedas.surkus"
           target="new"
           title="instagram">
          <fa-icon [icon]="faFacebookF"></fa-icon>
          Check me out on Facebook
        </a>
        <a class="btn btn-block btn-social btn-linkedin"
           href="https://www.linkedin.com/in/neda0147/"
           target="new"
           title="instagram">
          <fa-icon [icon]="faLinkedin"></fa-icon>
          Check me out on LinkedIn
        </a>
        <a class="btn btn-block btn-social btn-github"
           href="https://github.com/Metallist1"
           target="new"
           title="instagram">
          <fa-icon [icon]="faGithub"></fa-icon>
          Check me out on Github
        </a>
      </div>
    </div>
  </div>
</div>
