.wrapper{
  margin-top: 3rem;
}
.section-title{
  text-align: center;
  font-size: 36px;
  border-bottom: solid;
  border-width: 3px;
  color: #444649;
  font-weight: bold;
}

.contact-content{
  font-size: 20px;
  margin: 25px 0 0 0;
}

.contact-item{
  font-size: 20px;
}

.emphasis{
  margin: 30px 0;
}
