
.contact-content{
  font-size: 1em ;
  margin: 25px 0 0 0;
}

.contact-item{
  font-size: 20px;
}

.emphasis{
  margin: 30px 0;
}

.contact-container{
  background: #fff;
  line-height: 1.4;
  border-radius: 5px;
  overflow: hidden;
  z-index: 0;
  padding: 25px;
  width: 500px;
  margin: 2rem auto;
}
.flex-container{
  display: flex;
}

textarea {
  resize: none;
}

.contact-title{
  font-size: 1em ;
  margin-bottom: 40px;
  text-align: center;
  -webkit-transition:  1s;
  -moz-transition:     1s;
  -ms-transition:      1s;
  -o-transition:       1s;
  transition:          1s;

  color: black;
}

.field{
  margin-bottom: 30px;
}

.form-control{
  height: 100% !important;
  padding: 1rem 0.75rem !important;
  font-size: 1em !important;
  border-radius: 0 !important;
  border-width: 3px !important;
}

ul{
  list-style: none;
  margin: 0 !important;
}

.error-text{
  color:  rgba(231, 55, 24, 1) !important;
}

.question-title{
  display: flex;
  flex-flow: row;
  font-size: 1em;
  color: black;
  margin-bottom: 0.2em;
}
.submit-button{
  width: 100%;
  border: 1px solid black;
  border-radius: 0 !important;
  color: black;
  font-size: 1em;
  padding: 5px 50px;
  text-decoration: none;
  cursor: pointer;
  transition: 1s;
  background: rgba(136, 103, 118, 0.5);
}

.signature-flex{
  display: flex;
  flex-flow: column;
  gap: 25px;
  margin-top: 25px;
}

.error{
  color: rgba(231, 50, 50, 1) !important;
  border-color: rgba(231, 50, 50, 1) !important;
  border-width: 3px;
}

.siganture-title{
  font-size: 1.5em;
  text-align: center;

  color: black;
}

.signature-container{
  display: flex;
  flex-flow: row;
  justify-content: center;
  gap: 25px;
}

a{
  color: black;
}

.facebook-icon-change-color {
  color: rgba(66, 103, 178, 1) !important;
  text-shadow:
    0 0 2px rgba(0,0,0,0.92),
    0 0 10px rgba(0,0,0,0.34),
    0 0 4px rgba(126,19,182,0.52),
    0 0 7px rgba(126,19,182,0.92),
    0 0 11px rgba(126,19,182,0.78),
    0 0 16px rgba(126,19,182,0.92);
}

.linkedIn-icon-change-color {
  color: rgba(14, 118, 168, 1) !important;
  text-shadow:
    0 0 2px rgba(0,0,0,0.92),
    0 0 10px rgba(0,0,0,0.34),
    0 0 4px rgba(126,19,182,0.52),
    0 0 7px rgba(126,19,182,0.92),
    0 0 11px rgba(126,19,182,0.78),
    0 0 16px rgba(126,19,182,0.92);
}

.github-icon-change-color{
  text-shadow:
    0 0 2px rgba(0,0,0,0.92),
    0 0 10px rgba(0,0,0,0.34),
    0 0 4px rgba(126,19,182,0.52),
    0 0 7px rgba(126,19,182,0.92),
    0 0 11px rgba(126,19,182,0.78),
    0 0 16px rgba(126,19,182,0.92);
}

.twitch{
  &:focus,
  &:hover {
    color: rgba(145, 70, 255, 1) !important;
    text-shadow: 0 0 2px rgba(0, 0, 0, 0.92),
    0 0 10px rgba(0, 0, 0, 0.34),
    0 0 4px rgba(126, 19, 182, 0.52),
    0 0 7px rgba(126, 19, 182, 0.92),
    0 0 11px rgba(126, 19, 182, 0.78),
    0 0 16px rgba(126, 19, 182, 0.92);
  }
}

.facebook{
  &:focus,
  &:hover {
    color: rgba(66, 103, 178, 1) !important;
    text-shadow: 0 0 2px rgba(0, 0, 0, 0.92),
    0 0 10px rgba(0, 0, 0, 0.34),
    0 0 4px rgba(126, 19, 182, 0.52),
    0 0 7px rgba(126, 19, 182, 0.92),
    0 0 11px rgba(126, 19, 182, 0.78),
    0 0 16px rgba(126, 19, 182, 0.92);
  }
}

.linkedIn{
  &:focus,
  &:hover {
    color: rgba(14, 118, 168, 1) !important;
    text-shadow: 0 0 2px rgba(0, 0, 0, 0.92),
    0 0 10px rgba(0, 0, 0, 0.34),
    0 0 4px rgba(126, 19, 182, 0.52),
    0 0 7px rgba(126, 19, 182, 0.92),
    0 0 11px rgba(126, 19, 182, 0.78),
    0 0 16px rgba(126, 19, 182, 0.92);
  }
}


.github{
  &:focus,
  &:hover{
    text-shadow:
      0 0 2px rgba(0,0,0,0.92),
      0 0 10px rgba(0,0,0,0.34),
      0 0 4px rgba(126,19,182,0.52),
      0 0 7px rgba(126,19,182,0.92),
      0 0 11px rgba(126,19,182,0.78),
      0 0 16px rgba(126,19,182,0.92);
  }
}
.submit-button{
  &:focus,
  &:hover{
    background: rgba(136, 103, 118, 0.8);
  }
}
.icon-style{
  -webkit-transition:  0.5s;
  -moz-transition:     10.5s;
  -ms-transition:      0.5s;
  -o-transition:       0.5s;
  transition:          0.5s;

  color: black;
}

.shake-horizontal {
  -webkit-animation: shake-horizontal 0.5s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
  animation: shake-horizontal 0.5s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
}

/* ----------------------------------------------
 * Generated by Animista on 2022-2-10 12:20:28
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info.
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation shake-horizontal
 * ----------------------------------------
 */
@-webkit-keyframes shake-horizontal {
  0%,
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  10%,
  30%,
  50%,
  70% {
    -webkit-transform: translateX(-10px);
    transform: translateX(-10px);
  }
  20%,
  40%,
  60% {
    -webkit-transform: translateX(10px);
    transform: translateX(10px);
  }
  80% {
    -webkit-transform: translateX(8px);
    transform: translateX(8px);
  }
  90% {
    -webkit-transform: translateX(-8px);
    transform: translateX(-8px);
  }
}
@keyframes shake-horizontal {
  0%,
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  10%,
  30%,
  50%,
  70% {
    -webkit-transform: translateX(-10px);
    transform: translateX(-10px);
  }
  20%,
  40%,
  60% {
    -webkit-transform: translateX(10px);
    transform: translateX(10px);
  }
  80% {
    -webkit-transform: translateX(8px);
    transform: translateX(8px);
  }
  90% {
    -webkit-transform: translateX(-8px);
    transform: translateX(-8px);
  }
}


form{
  padding: 1em;
}

.special-case{
  font-size: 1em ;
  padding: 0;
  margin: 1em 0 0 0 !important;
}

@media only screen and (max-width: 650px) {
  form {
    padding: 1em 1em;
  }
  .form-control{
    font-size: 1em !important;
  }
  .question-title{
    font-size: 1em ;
  }
  .submit-button{
    font-size: 1em ;
  }
  .siganture-title{
    text-align: center;
    padding-right: 0;
  }
  .contact-container{
    width: 300px;
  }
  .signature-container{
    justify-content: center;
  }
}
