<div class="wrapper">
  <div class="section-title">
    WORK EXPERIENCE
  </div>
  <div class="container">

    <div class="timeline-item" date-is='2022-01 - Current'>
      <h1 class="fade-in-fwd">Full-Stack developer at Corrupted Codex IVS</h1>
      <p class="fade-in-fwd">
        Corrupted Codex is a small startup company in Esbjerg whose main focus is game development. I am using Angular, NodeJS for collection and visualisation of data. I use C# in Unity game engine to create game components for an unannounced game title.
      </p>
      <ul class="experience-content fade-in-fwd">
        <li>Designed, and implemented a website for the company, enhancing brand visibility.</li>
        <li>Implemented diverse gameplay features for an unreleased video game, contributing to core mechanics and user experience.</li>
        <li>Developed a feedback-gathering application prototype that collected user inputs with minimal disruption to the user experience.</li>
        <li>Collaborated with designers and testers to refine gameplay features based on user feedback and performance metrics.</li>
      </ul>
    </div>

    <div class="timeline-item" date-is='2020-8 - 2021-07'>
      <h1 class="fade-in-fwd">Full-Stack Web developer at Ratoong IVS</h1>
      <p class="fade-in-fwd">
        Ratoong is a Ski resort company similar to Trip adviser. In this job I was using Angular, Firebase and JavaScript. Additionally, I was responsible for introducing newly hired developers to the existing platform.
      </p>
      <ul class="experience-content fade-in-fwd">
        <li>Designed and implemented quality-of-life (QoL) enhancements to the existing website.</li>
        <li>Enhanced user experience for 1,000+ users by migrating from AngularJS 1.7 to Angular 10, ensuring enhanced performance and maintainability.</li>
        <li>Expanded partner system functionalities, enabling clearer data filtering and multi-partner login support.</li>
        <li>Developed and maintained administration systems, increasing marketing department efficiency.</li>
        <li>Restructured and optimized a Firebase NoSQL database for improved cohesiveness and scalability.</li>
      </ul>
    </div>

    <div class="timeline-item" date-is='2019-09 – 2022-05'>
      <h1 class="fade-in-fwd">Teachers assistant at Erhvervsakademi SydVest</h1>
      <p class="fade-in-fwd">
        During my studies, I was presented with a unique opportunity to tutor the next year students as I had sufficient knowledge about programming.
      </p>
      <p class="fade-in-fwd">
        This job required me to use Java, C# and Angular to not only analyse students code but also to bug fix their applications.
      </p>
      <ul class="experience-content fade-in-fwd">
        <li>Tutored over 24 students of varying skill levels, providing tailored solutions to address individual challenges.</li>
        <li>Offered after-hours support via email and phone to assist students with specific questions.</li>
        <li>Designed lesson plans to reinforce weak subjects and enhance existing strengths.</li>
        <li>Motivated students to foster self-confidence and reduce performance anxiety.</li>
        <li>Taught effective study techniques and exam strategies to improve academic outcomes.</li>
      </ul>
    </div>

  </div>
</div>
