<div class="wrapper">
  <div class="section-title">
    WORK EXPERIENCE
  </div>
  <div class="container">

    <div class="timeline-item" date-is='01-2022 - Current Day'>
      <h1 class="scale-in-hor-left">Intern developer at Corrupted Codex IVS</h1>
      <p class="scale-in-hor-left">
        Corrupted Codex is a small startup company in Esbjerg whose main focus is game development. I decided to do my internship there and create, design and implement their portfolio website along side doing game development.
      </p>
      <ul class="experience-content scale-in-hor-left">
        <li>Designed, created, and implemented an introduction website to the company.</li>
        <li>Documented and refactored various animation scripts inside the introduction website.</li>
      </ul>
    </div>

    <div class="timeline-item" date-is='10-2020 - 06-2021'>
      <h1 class="scale-in-hor-left">Fullstack Web developer at Ratoong IVS</h1>
      <p class="scale-in-hor-left">
        After succesfully finishing my internship and final project in Ratoong I decided to continue build up their platform. During this period I was using heavily Angular and Firebase while introducing newly hired developers to the existing platform.
      </p>
      <ul class="experience-content scale-in-hor-left">
        <li>Implemented and maintained administration systems that helped improve marketing departments efficiency.</li>
        <li>Helped with integration of intern final projects to current system.</li>
        <li>Documented current system and established current coding conventions in the team.</li>
        <li>Detected and fixed bugs in experimental features.</li>
        <li>Expanded product partner systems which allowed for more clear and accurate data filtering and multiple
          partner login.</li>
      </ul>
    </div>

    <div class="timeline-item" date-is='08-2020 – 10-2020'>
      <h1 class="scale-in-hor-left">Intern Web developer at Ratoong IVS</h1>
      <p class="scale-in-hor-left">
        Ratoong is a Ski resort company similar to Trip adviser. I picked this internship as I was sure that It will provide with a sufficient challenge to test the knowledge I gained during studies.
        This internship required me to code in Angular and use Firebase.
      </p>
      <ul class="experience-content scale-in-hor-left">
        <li>Lead a development team which consisted of 6 members. Was responsible for communication between development team and marketing, design teams.</li>
        <li>Maintained a backlog for development tasks and epic stories.</li>
        <li>Updated the existing code base and moved code from AngularJS 1.7 to Angular 10.</li>
        <li>Restructured and refactored existing Firebase NOSQL database to be more cohesive.</li>
        <li>Designed and implemented various QoL improvements on the current existing website.</li>
      </ul>
    </div>

    <div class="timeline-item" date-is='09-2019  – Current day'>
      <h1 class="scale-in-hor-left">Teachers assistant at Erhvervsakademi SydVest</h1>
      <p class="scale-in-hor-left">
        During my studies, I was presented with a unique opportunity to tutor the next year students as I had sufficient knowledge about programming.
      </p>
      <p class="scale-in-hor-left">
        This job required me to use JAVA, C# and Angular to not only analyse students code but also to bug fix their applications.
      </p>
      <ul class="experience-content scale-in-hor-left">
        <li>Tutored over 24 struggling, average and advanced students by providing alternative solutions to the problems they encountered.</li>
        <li>Responded to after-hours email and telephone requests to provide students assistance with specific questions.</li>
        <li>Planned lessons for allotted time to strengthen weak subjects and build skills in stronger ones.</li>
        <li>Motivated students towards learning and studying to build self-confidence and reduce anxiety of failure.</li>
        <li>Educated students on study tips and exam strategies.</li>
      </ul>
    </div>

    <div class="timeline-item" date-is='01-2019 – Current day'>
      <h1>IT Support Assistant at Osted Agro Aps</h1>
      <p class="scale-in-hor-left">
        This is a student job I got in a medium sized company, which produces strawberries. This job required me to manage an SQL database which they set up in the company.
      </p>
      <ul class="experience-content scale-in-hor-left">
        <li>Maintained accurate, current and compliant financial records by monitoring and addressing variances.</li>
        <li>Developed code which reduced error probability and the time necessary to complete database maintenance.</li>
      </ul>
    </div>

  </div>
</div>
