<p>Teachers assistant in Computer Science</p>
<p>Erhvervsakademi SydVest</p>
<p>September 2019 – Current</p>
<p>Tutored over 24 struggling, average and advanced students by providing alternative solutions to the problems they encountered</p>
<p>Responded to after-hours email and telephone requests to provide students assistance with specific questions.</p>
<p>Planned lessons for allotted time to strengthen weak subjects and build skills on stronger ones.</p>
<p>Motivated students towards learning and studying to build self-confidence and reduce anxiety of failure.</p>
<p>Educated students on study tips and exam strategies.</p>

<p>IT Support Assistant</p>
<p>Osted Agro Aps</p>
<p>January 2019 – Current</p>
<p>Maintained accurate, current and compliant financial records by monitoring and addressing variances.</p>
<p>Developed code which reduced error probability and the time necessary to complete database maintenance.</p>

<p>Fullstack web developer intern</p>
<p>Ratoong IVS</p>
<p>August 2020 – October 2020</p>
<p>Lead a development team which consisted of 6 members. Was responsible for communication between development team and marketing, design teams.</p>
<p>Maintained a backlog for development tasks and epic stories.</p>
<p>Updated the existing code base and moved code from AngularJS 1.7 to Angular 10</p>
<p>Restructured and refactored existing Firebase NOSQL database to be more cohesive.</p>
<p>Designed and implemented various QoL improvements on the current existing website.</p>

<p>Fullstack developer</p>
<p>Ratoong IVS</p>
<p>October 2020 – Current</p>
<p>Implemented and maintained administration systems that helped improve marketing departments efficiency.</p>
<p>Helped with integration of intern final projects to current system</p>
<p>Documented current system and established current coding conventions in the team.</p>
<p>Detected and fixed bugs in experimental features.</p>



