<div class="wrapper">
  <div class="section-title">
    WORK EXAMPLES
  </div>

  <div class="blog-card alt bigger-margin slide-in-left"  onclick="window.open('https://drive.google.com/file/d/1109q0NOKkYmTxR3SF_SZ7eRmnpo9ZYE1/view?usp=sharing', '_blank');">
    <div class="meta">
      <div class="photo" style="background-image: url(https://firebasestorage.googleapis.com/v0/b/nedasportfolio.appspot.com/o/image_2024-10-17_135627491.png?alt=media&token=9af85023-8b49-4a21-aa1c-7ca1f05a6978)"></div>
      <ul class="details">
        <li class="date">
          <fa-icon [icon]="faCalendar"></fa-icon>
          2024
        </li>
        <li class="tags">
          <ul>
            <li>
              <fa-icon [icon]="faLightbulb"></fa-icon>
            </li>
            <li>Python,</li>
            <li>Machine Learning,</li>
            <li>SQLite,</li>
            <li>Docker,</li>
            <li>Dask</li>
          </ul>
        </li>
      </ul>
    </div>
    <div class="description">
      <h1>Software License incompatibility study in Maven and NuGet ecosystems</h1>
      <h2>Thesis</h2>
      <p>
        In this thesis we aimed to investigate how much software license incompatibilities affected Maven and NuGet ecosystems.
      </p>
      <p>
        We mined data from NuGet and Maven repositories and evaluated the data using quantitative data analysis.
      </p>
      <p>
        This thesis took 1 year to complete.
      </p>
      <p>
        Code was written in Python and tools such as Dask, SQLite and Pyvis were used heavily. Docker was used to mine part of Maven ecosystem.
      </p>
    </div>
  </div>

  <div class="blog-card slide-in-right" onclick="window.open('https://game-dev-portfolio-32b02.web.app', '_blank');">
    <div class="meta">
      <div class="photo" style="background-image: url(https://firebasestorage.googleapis.com/v0/b/nedasportfolio.appspot.com/o/Game-dev.JPG?alt=media&token=65566f9d-3319-4248-9a7d-da365c9d16a5)"></div>
      <ul class="details">
        <li class="date">
          <fa-icon [icon]="faCalendar"></fa-icon>
          2022-02
        </li>
        <li class="tags">
          <ul>
            <li>
              <fa-icon [icon]="faLightbulb"></fa-icon>
            </li>
            <li>Angular,</li>
            <li>NodeJS,</li>
            <li>Firebase,</li>
            <li>CSS,</li>
            <li>HTML</li>
          </ul>
        </li>
      </ul>
    </div>
    <div class="description">
      <h1>Game Development Portfolio website</h1>
      <h2>A portfolio website for Corrupted Codex</h2>
      <p>
        This websites main purpose is to showcase the games corrupted codex will make and redirect them to the proper stores.
      </p>
      <p>
        In this website you can: Look up different games a company has made. Check out the most recent updates and read about team members.
      </p>
      <p>
        This website was created, designed and implemented in 2 weeks.
      </p>
      <p>
        Angular and Firebase was used to make this website. While using NodeJS to implement an email service.
      </p>
    </div>
  </div>

  <div class="blog-card alt bigger-margin slide-in-left"  onclick="window.open('https://github.com/Metallist1/Porfolio_Website', '_blank');">
    <div class="meta">
      <div class="photo" style="background-image: url(https://firebasestorage.googleapis.com/v0/b/nedasportfolio.appspot.com/o/image_2022-02-09_231212.png?alt=media&token=c311dab8-a9a4-4405-9e1e-b5e6392924ed)"></div>
      <ul class="details">
        <li class="date">
          <fa-icon [icon]="faCalendar"></fa-icon>
          2021-06
        </li>
        <li class="tags">
          <ul>
            <li>
              <fa-icon [icon]="faLightbulb"></fa-icon>
            </li>
            <li>Angular,</li>
            <li>Firebase,</li>
            <li>CSS,</li>
            <li>HTML</li>
          </ul>
        </li>
      </ul>
    </div>
    <div class="description">
      <h1>Portfolio website</h1>
      <h2>A simple personal portfolio website</h2>
      <p>
        I made the website as a showcase of what I can do in a short period of time.
      </p>
      <p>
        I created and designed this website in 2 weeks.
      </p>
      <p>
        The main purpose of this site is to demonstrate my abilities to other people in a more effective manner than by using a CV
      </p>
      <p>
        Angular and Firebase was used to make this website.
      </p>
    </div>
  </div>

  <div class="large-max">
    <div class="blog-card slide-in-right" onclick="window.open('https://final-exam-9302a.web.app/', '_blank');">
      <div class="meta">
        <div class="photo" style="background-image: url(https://firebasestorage.googleapis.com/v0/b/nedasportfolio.appspot.com/o/final.PNG?alt=media&token=f85754ef-e6e7-46aa-b3cf-3b275f167636)"></div>
        <ul class="details">
          <li class="date">
            <fa-icon [icon]="faCalendar"></fa-icon>
            2020-11
          </li>
          <li class="tags">
            <ul>
              <li>
                <fa-icon [icon]="faLightbulb"></fa-icon>
              </li>
              <li>Angular,</li>
              <li>Firebase,</li>
              <li>CSS,</li>
              <li>HTML</li>
            </ul>
          </li>
        </ul>
      </div>
      <div class="description">
        <h1>Final exam project</h1>
        <h2>Final exam</h2>
        <p>
          The goal of the project was to make an administration platform for Ratoong.
        </p>
        <p>
          The platform has two parts, an Admin page and a Partner page. Admin page where the Ratoong web developers could access data using Firebase functions.
        </p>
        <p>
          Partner page where Ratoong partners could access specific tailored data from Ratoong database.
        </p>
        <p>
          This project was made by a two people team in one month.
        </p>
        <p>
          Angular and Firebase was used to make this website.
        </p>
      </div>
    </div>

    <div class="blog-card alt slide-in-left" onclick="window.open('https://web-dev-exam-71d64.web.app/', '_blank');">
      <div class="meta">
        <div class="photo" style="background-image: url(https://firebasestorage.googleapis.com/v0/b/nedasportfolio.appspot.com/o/fullstack.PNG?alt=media&token=de36a268-2b24-429c-b2f5-aa0af1ca7529)"></div>
        <ul class="details">
          <li class="date">
            <fa-icon [icon]="faCalendar"></fa-icon>
            2020-06
          </li>
          <li class="tags">
            <ul>
              <li>
                <fa-icon [icon]="faLightbulb"></fa-icon>
              </li>
              <li>Angular,</li>
              <li>Firebase,</li>
              <li>CSS,</li>
              <li>HTML</li>
            </ul>
          </li>
        </ul>
      </div>
      <div class="description">
        <h1>Fullstack project</h1>
        <h2>Fullstack exam</h2>
        <p>
          The goal of the project was to create a demo shop.
        </p>
        <p>
          This shop has a selection of items which can be inspected for more details.
        </p>
        <p>
          There is a cart system where items can be added, removed and then the user can create an order.
        </p>
        <p>
          This project was made by me in 2 weeks.
        </p>
        <p>
          Angular, State Managment and Firebase was used to make this specific website.
        </p>
      </div>
    </div>

    <div class="blog-card slide-in-right" onclick="window.open('https://github.com/Metallist1/Belman_Order_Tracking_Application', '_blank');">
      <div class="meta">
        <div class="photo" style="background-image: url(https://firebasestorage.googleapis.com/v0/b/nedasportfolio.appspot.com/o/belman.PNG?alt=media&token=c08a0112-4575-4e8d-b4f1-f3a2493a491e)"></div>
        <ul class="details">
          <li class="date">
            <fa-icon [icon]="faCalendar"></fa-icon>
            2019-06
          </li>
          <li class="tags">
            <ul>
              <li>
                <fa-icon [icon]="faLightbulb"></fa-icon>
              </li>
              <li>Java</li>
            </ul>
          </li>
        </ul>
      </div>
      <div class="description">
        <h1>Belman order tracking app</h1>
        <h2>Belman</h2>
        <p>
          This application would be used to track the current progress of orders in The Belman company.
        </p>
        <p>
          Main emphasis was on creating a really user friendly application that would be easy to use for people not into technology.
        </p>
        <p>
          This project was made by 3 person team in 4 weeks.
        </p>
        <p>
          The project was made using Java.
        </p>
      </div>
    </div>
  </div>
</div>
