<div class="wrapper">
  <div class="section-title">
    WORK EXAMPLES
  </div>

  <div class="blog-card alt bigger-margin"  onclick="window.open('https://github.com/Metallist1/Porfolio_Website', '_blank');">
    <div class="meta">
      <div class="photo" style="background-image: url(https://firebasestorage.googleapis.com/v0/b/nedasportfolio.appspot.com/o/image_2021-06-28_215533.png?alt=media&token=0b0239f0-d18a-433a-b390-375a8e268cb6)"></div>
      <ul class="details">
        <li class="date">
          <fa-icon [icon]="faCalendar"></fa-icon>
          06-2021
        </li>
        <li class="tags">
          <ul>
            <li>
              <fa-icon [icon]="faLightbulb"></fa-icon>
            </li>
            <li>Angular,</li>
            <li>Firebase,</li>
            <li>CSS,</li>
            <li>HTML</li>
          </ul>
        </li>
      </ul>
    </div>
    <div class="description">
      <h1>Portfolio website</h1>
      <h2>A simple website for myself</h2>
      <p>
        I made the website as a showcase of what I can do in a short period of time.
      </p>
      <p>
        I created and designed this website in 2 weeks.
      </p>
      <p>
        The main purpose of this site is to demonstrate my abilities to other people in a more effective manner than by using a CV
      </p>
      <p>
        Angular and Firebase was used to make this website.
      </p>
    </div>
  </div>

  <div class="large-max">
    <div class="blog-card" onclick="window.open('https://final-exam-9302a.web.app/', '_blank');">
      <div class="meta">
        <div class="photo" style="background-image: url(https://firebasestorage.googleapis.com/v0/b/nedasportfolio.appspot.com/o/final.PNG?alt=media&token=f85754ef-e6e7-46aa-b3cf-3b275f167636)"></div>
        <ul class="details">
          <li class="date">
            <fa-icon [icon]="faCalendar"></fa-icon>
            11-2020
          </li>
          <li class="tags">
            <ul>
              <li>
                <fa-icon [icon]="faLightbulb"></fa-icon>
              </li>
              <li>Angular,</li>
              <li>Firebase,</li>
              <li>CSS,</li>
              <li>HTML</li>
            </ul>
          </li>
        </ul>
      </div>
      <div class="description">
        <h1>Final exam project</h1>
        <h2>Final exam</h2>
        <p>
          The goal of the project was to make an administration platform for Ratoong.
        </p>
        <p>
          The platform has two parts, an Admin page and a Partner page. Admin page where the Ratoong web developers could access data using Firebase functions.
        </p>
        <p>
          Partner page where Ratoong partners could access specific tailored data from Ratoong database.
        </p>
        <p>
          This project was made by a two people team in one month.
        </p>
        <p>
          Angular and Firebase was used to make this website.
        </p>
      </div>
    </div>

    <div class="blog-card alt" onclick="window.open('https://web-dev-exam-71d64.web.app/', '_blank');">
      <div class="meta">
        <div class="photo" style="background-image: url(https://firebasestorage.googleapis.com/v0/b/nedasportfolio.appspot.com/o/fullstack.PNG?alt=media&token=de36a268-2b24-429c-b2f5-aa0af1ca7529)"></div>
        <ul class="details">
          <li class="date">
            <fa-icon [icon]="faCalendar"></fa-icon>
            06-2020
          </li>
          <li class="tags">
            <ul>
              <li>
                <fa-icon [icon]="faLightbulb"></fa-icon>
              </li>
              <li>Angular,</li>
              <li>Firebase,</li>
              <li>CSS,</li>
              <li>HTML</li>
            </ul>
          </li>
        </ul>
      </div>
      <div class="description">
        <h1>Fullstack project</h1>
        <h2>Fullstack exam</h2>
        <p>
          The goal of the project was to create a demo shop.
        </p>
        <p>
          This shop has a selection of items which can be inspected for more details.
        </p>
        <p>
          There is a cart system where items can be added, removed and then the user can create an order.
        </p>
        <p>
          This project was made by me in 2 weeks.
        </p>
        <p>
          Angular, State Managment and Firebase was used to make this specific website.
        </p>
      </div>
    </div>

    <div class="blog-card" onclick="window.open('https://github.com/Metallist1/Belman_Order_Tracking_Application', '_blank');">
      <div class="meta">
        <div class="photo" style="background-image: url(https://firebasestorage.googleapis.com/v0/b/nedasportfolio.appspot.com/o/belman.PNG?alt=media&token=c08a0112-4575-4e8d-b4f1-f3a2493a491e)"></div>
        <ul class="details">
          <li class="date">
            <fa-icon [icon]="faCalendar"></fa-icon>
            06-2019
          </li>
          <li class="tags">
            <ul>
              <li>
                <fa-icon [icon]="faLightbulb"></fa-icon>
              </li>
              <li>Java</li>
            </ul>
          </li>
        </ul>
      </div>
      <div class="description">
        <h1>Belman order tracking app</h1>
        <h2>Belman</h2>
        <p>
          This application would be used to track the current progress of orders in The Belman company.
        </p>
        <p>
          Main emphasis was on creating a really user friendly application that would be easy to use for people not into technology.
        </p>
        <p>
          This project was made by 3 person team in 4 weeks.
        </p>
        <p>
          The project was made using Java.
        </p>
      </div>
    </div>
  </div>
</div>
