<p> Final exam project: https://final-exam-9302a.web.app</p>
<p> The goal of the project was to make an administration platform for Ratoong.
  The platform has two parts. Admin page where the Ratoong web developers could access data using Firebase functions.
  Partner page where Ratoong partners could access specific tailored data from Ratoong database.
  This project was made in a 2 people team in 1 month.
  Angular and Firebase was used to make this website.
</p>

<p> Fullstack project: https://web-dev-exam-71d64.web.app</p>
<p> The goal of the project was to create a demo shop. This shop will have a selection of items which can be inspected for more details.
  There is a cart system where items can be added, removed and then the user can create an order.
  This project was made by me in 2 weeks.
  Angular, State Managment and Firebase was used to make this specific website.
</p>

<p> Belman order tracking app: https://github.com/Metallist1/Belman_Order_Tracking_Application</p>
<p> This application would be used to track the current progress of orders in Belmans company.
  Main emphasis was on creating a really user friendly application that would be easy to use for people not into technology.
  This project was made by 3 person team in 4 weeks.
  The project was made using Java.
</p>
